# Fill in your configuration and rename this file secret.env

PROC_WRAPPER_API_BASE_URL=https://api.cloudreactor.io/
PROC_WRAPPER_API_KEY=someapikey
PROC_WRAPPER_DEPLOYMENT=development
#PROC_WRAPPER_ROLLBAR_ACCESS_TOKEN=SOMETOKEN
